@import "fonts";

/* Fonts */
$ff-primary: "Lexend Deca";
$ff-secondary: "Nanum Gothic Coding";

/* Colors */
$clr-white: #ffff;
$clr-black: #0000;
$clr-grey: rgba(255, 255, 255, 0.65);
$clr-pink-light: rgb(255, 234, 237);

$clr-background: #111418;

/* Styles */
body {
    color: $clr-white;
    background-color: $clr-background;
    font-family: $ff-primary;
    user-select: none;
    transition: all 1.5s ease;
}

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    color: $clr-white; 
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }