/* Imports */
@import "global";

/* Styles */
.MHU-module-hero {
  font-family: $ff-secondary;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
  }

  &__tab-name {
    pointer-events: none;
    color: $clr-white;
    background-color: #181A21;
    border-top: 3px solid #323745;
    border-left: 3px solid #323745;
    border-right: 3px solid #323745;
    border-bottom: 1px solid #323745;
    padding: 10px 15px;
    width: 10em;
  }

  &__title {
    font-size: 4.5vw;
    background-color: #181A21;
    border: 3px solid #323745;
    padding: 40px 80px;
    width: 100%;
  }
}

#cursor {
    font-family: Helvetica;
    color: #6687ff;
    font-size: 5vw;
    position: relative;
    bottom: -11px;
    left: -4px;
    font-weight: lighter;
  }

/* Responsive Design */
@media (max-width: 1280px) {
  .MHU-module-hero {
    &__title {
      padding: 30px 40px;
    }
  }
}