/* Imports */
@import "global";

/* Styles */
body {
  overflow: hidden;
}

#timer {
    font-size: 24px;
    margin-top: 20px;
}

.love {
    background: linear-gradient(45deg,rgba(207, 159, 255, 0.8),rgba(255, 105, 180, 0.75),rgba(255, 192, 203, 0.9));
    background-size: 200% 200%;
    animation: moveGradient 5s ease-in-out infinite alternate;
}

.MH-module-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    &__time {
        color: $clr-white;
        text-align: center;
        margin: 0 !important;
    }
}

.MH-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      opacity: .8;
    }
}

.MH-heart {
    color: $clr-white;
    font-size: 4em; 
    display: inline-block;
    animation: pulse 2.5s infinite;
    transition: transform 0.2s ease-in-out, color .6s ease;
    &:hover {
      color: $clr-pink-light;
      cursor: pointer;
    }
} 
.clicked {
  animation: clickAnim 0.3s ease;
}
.MH-counter {
    position: fixed;
    color: $clr-white;
    bottom: 0;
    left: 0;
    margin: 5px 10px;
}

/* Responsive Design */ 
@media (max-width: 600px) {
  .MH-module-timer__time {
    margin: 0 14px !important;
  }
}

/* Animations */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes clickAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}