@import "fonts";

/* Fonts */
$primary-font: "Lexend Deca";
$secondary-font: "Nanum Gothic Coding";

/* Colors */
$primary-color: #ffff;
$secondary-color: rgba(255, 255, 255, 0.65);

$background-color: #111418;

/* Styles */
body {
    font-family: $primary-font;
    background-color: $background-color;
}

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }