@import "global";

.box {
    font-family: $secondary-font;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
  } .title {
    font-size: 70px;
    font-style: normal !important;
    pointer-events: none;
  }

#cursor {
    font-family: Helvetica;
    color: $primary-color;
    font-size: 90px;
    position: relative;
    bottom: -11px;
    left: -4px;
    font-weight: lighter;
  }