@import "global";

.hero {
  font-family: $secondary-font;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  position: fixed;
} .title {
    font-size: 70px;
    background-color: #181A21;
    border: 3px solid #323745;
    padding: 40px 80px;
    width: 60%;
    position: fixed;
    pointer-events: none;
  }

#cursor {
    font-family: Helvetica;
    color: $primary-color;
    font-size: 90px;
    position: relative;
    bottom: -11px;
    left: -4px;
    font-weight: lighter;
  }

/* Responsive Design */